*{
    position: center;
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
}
@media screen and (max-width:960px){
    .menu-box{
        max-width: 45%;
    }
}
@media screen and (max-width:768px){
    .menu-box{
        max-width: 50%;
    }
}
@media screen and (max-width:480px){
    .menu-box{
        max-width: 100%;
    }
}

a{
    color: #FFFAFA;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.main-section{
    background: url(../images/bg.jpg);
    background-size: cover;
    padding: 250px 0;
}
.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.search-box{
    position: absolute;
    top: 10%;
    left: 83%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    text-decoration: none;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.6s;
    line-height: 40px;
    width: 0;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: white;
}

.main-title{
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 70px;
}
.border{
    width: 160px;
    height: 2px;
    background: #ddd;
    margin: 40px auto;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-desc{
    text-align: center;
    color: rgb(155, 148, 148);
    text-transform: capitalize;
    font-size: 25px;
}

.menu-box{
    max-width: 33.33%;
    padding: 60px;
    text-align: center;
    color: antiquewhite;
    cursor: pointer;
}

.menu-icon{
    display: flexbox;
    width: 70px;
    height: 70px;
    border: 0px;
    color: white;
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.5s;
}
.menu-icon i{
    line-height: 70px;
    font-size: 35px;
}
.menu-box:hover .menu-icon{
    background: white;
    color: black;
    transform: scale(1.5);
}
.menu-box .menu-icon:hover{
    background: white;
    color: black;
}

.icon-title{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 8px;
    transition: 0.5s;
}
.menu-box:hover .icon-title{
    transform: scale(1.5);
}

footer{
    overflow: hidden;
    position: relative;
    left: -1px;
}
#footer-contact-details{
    width: 163ox;
    height: 114px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    margin-bottom: 0px;
    
}
#footer-contact-details p{
    /*font-size: 1.5em;*/
    color: rgb(126, 125, 125);
    line-height: 1.4;
}
#footer-contact-details p a{
    color: rgb(126, 125, 125);
}
footer .social-links{
    top:98px;
    margin-bottom: 0px;
    float: none;
    width: 250px;
    position: absolute;
    right: 0px;
    text-align: center;
    color: rgb(126, 125, 125);
} 
footer .social-links li{
    float: none;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
    
}
footer .social-links li.first{
    margin-left: 0px;
}
footer .social-links li.last{
    margin-right: 0px;
}
#footer-legals{
    position: absolute;
    top: 100px;
    left: 400px;
    clear: both;
    color: gray;
    font-size: 0.8em;
}
